/build/
/build-bash/
/out/
/bin/
*.o
*.obj
*.exe
*.so
*.a
*.lib
CMakeCache.txt
CMakeFiles/
CMakeScripts
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.vscode/
.vs/

